@model IEnumerable<FPT_JOBPORTAL.CategoryModel>

@{
    ViewData["Title"] = "Category";
}

<h1>Category</h1>
@if (User.IsInRole("Employer")) 
{ 
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (User.IsInRole("Employer"))
                {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                } 
                    @if (User.IsInRole("Admin"))
                {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this?')">
                            <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                }                 
            </td>
        </tr>
}
    </tbody>
</table>
