@model IEnumerable<FPT_JOBPORTAL.Application>

@{
    ViewData["Title"] = "Application";
}

<h1>Application</h1>
@if (User.IsInRole("Job Seeker"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Resume) *@
                    <a asp-action="ViewResume" asp-route-resume="@item.Resume" class="btn btn-primary">View Resume</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.NameJob)
            </td>
            <td>
                    @if (User.IsInRole("Employer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    } 
                    @if (User.IsInRole("Admin")) 
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    } 
            </td>
        </tr>
}
    </tbody>
</table>
